<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Roll Dice</h1>

<a href="/dice-roll/1">One</a>
<a href="/dice-roll/2">Two</a>
<a href="/dice-roll/3">Three</a>
<a href="/dice-roll/4">Four</a>
<a href="/dice-roll/5">Five</a>
<a href="/dice-roll/6">Six</a>









<!--<form th:action="/roll-diceNumber" method="POST">-->

<!--<label for="dice">Guess a number:</label>-->
<!--<select name="dice" id="dice" >-->
<!--    <option value="1">1</option>-->

<!--    <option value="2">2</option>-->
<!--    <option value="3">3</option>-->
<!--    <option value="4">4</option>-->
<!--    <option value="5">5</option>-->
<!--    <option value="6">6</option>-->
<!--</select>-->
<!--    <input type="submit" value="dice">-->
<!--</form>-->

</body>
</html>